*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 10px 200px 200px 450px;
}

.header{
    width: auto;
    height: 70px;
    background: blue;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
}

.dev{
    color: white;
    margin-right: 10px;
}

.viewer{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}


.text{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid lightgrey;
}


img{
    width: 100px;
    height: 100px;
}

h2{
    font-size: 50px;
    margin: 30px 0px 0px 560px;
    display: flex;
}

.green{
    color: green;
}

.w{
    color: blue;
}

.v{
    color: green;
}

.i{
    color: red;
}

.e{
    color: yellow;
}

.d{
    color: blue;
}


.first{
    padding-left: 0;
}

.first a{
    text-decoration: none;
    
}

.first li{
    list-style: none;
}

@media screen and (max-width: 1040px){
    .container{
        margin-left: 250px;
    }

    h2{
        margin-left: 370px;
    }
}

@media screen and (max-width: 909px){
    h2{
        margin-left: 350px;
    }
}

@media screen and (max-width: 779px) {
    .container{
        margin-left: 200px;
    }

    .text{
      width: 300px;
    }

    h2{
        margin-left: 200px;
    }

}

@media screen and (max-width: 502px) {
    .container{
        margin-left: 100px;
    }

    .text{
        width: 200px;
    }
  
    h2{
        margin-left: 100px;
    }
}


@media screen and (max-width: 301px) {
    .container{
        margin-left: 20px;
    }

    .text{
        width: 200px;
    }
  
    h2{
        margin-left: 20px;
    }

    .dev{
        margin-left: 20px;

    }

}

